@charset "UTF-8";

:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1165px;
    --container-pi: 15px;
    --header-height: 45px;
    --color-01: #000000;
    --color-02: #262626;
    --color-03: #404040;
    --color-04: #a5a5a5;
    --color-05: #f6f6f6;
    --color-06: #ffffff;
    --color-07: #ebff00;
    --color-08: #f9fc6a;
    --color-09: #483cd6;
    --color-10: #d20000;
    --color-11: #5c5c5c;
    --color-12: #b1b1b1;
    --color-13: #626262;
    --color-14: #e0e0e0;
    --color-15: #270f69;
    --zIndex: 999;
}

@media (min-width: 768px) {
    :root {
        --header-height: 65px;
    }
}

@media (min-width: 992px) {
    :root {
        --header-height: 80px;
    }
}

@media (min-width: 1200px) {
    :root {
        --header-height: 115px;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-UltraLight.woff") format("woff"), url("../fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SoyuzGrotesk";
  font-style: normal;
  font-weight: 700;
  src: local("SoyuzGrotesk"), local("SoyuzGrotesk"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.woff2") format("woff2"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.woff") format("woff"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.ttf") format("truetype");
}
/*
  Имена шрифтов:

  Gilroy
  Montserrat
  Roboto
  SoyuzGrotesk
*/
body {
    font-family: "Gilroy";
    font-size: 1.125rem;
    line-height: normal;
    font-weight: 400;
    color: var(--color-01);
    background-color: var(--color-06);
}

body.no-scroll {
    overflow: hidden;
}

.shadow {
    box-shadow: 4px 4px 0px 0px var(--color-01);
    transition-property: box-shadow, background, border, color, transform;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

@media (any-hover: hover) {
    .shadow:not(.shadow_no-hover):hover {
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

.button {
    --button-height: 54px;
    --button-padding: 10px;
    --button-fs: 28px;
    --button-clr: var(--color-01);
    --button-bg: var(--color-06);
    --button-border-clr: var(--color-01);
    width: 100%;
    min-height: var(--button-height);
    padding: var(--button-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SoyuzGrotesk";
    font-size: var(--button-fs);
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--button-clr);
    cursor: pointer;
    border: 1px solid var(--button-border-clr);
    background: var(--button-bg);
    box-shadow: 4px 4px 0px 0px var(--color-01);
    transition-property: box-shadow, background, border, color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    outline: none;
}

@media (any-hover: hover) {
    .button:hover {
        --button-bg: var(--color-04);
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

.button_secondary {
    --button-bg: var(--color-07);
}

@media (any-hover: hover) {
    .button_secondary:hover {
        --button-bg: var(--color-08);
    }
}

.button_icon {
    position: relative;
}

.button_icon::after {
    content: "";
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    top: 24px;
    right: 4px;
    border-radius: 50%;
    background-image: url("../images/UI/button/icon_01.svg");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 992px) {
    .wrapper {
        padding: var(--header-height) 0 0 0;
    }
}

.container {
    --_max-width-container: var(--max-width-container, 1200px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    width: 100%;
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

@media (max-width: 992px) {
    .header {
        display: none;
    }
}

.header__body {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
}

.header__logo {
    flex: 0 1 190px;
    min-width: 136px;
    margin: 0 auto 0 0;
    display: block;
}

.header__logo-icon {
    display: block;
}

.header__logo-icon img {
    width: 100%;
}

.header__nav {
    --_offset-right: 15px;
    padding: 0 var(--_offset-right) 0 0;
    margin: 0 var(--_offset-right);
    display: flex;
    flex-wrap: wrap;
    gap: 10px var(--_offset-right);
    border-right: 1px solid var(--color-03);
}

.header__nav a,
.header__nav span {
    display: block;
    cursor: pointer;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
    color: var(--color-03);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: color 0.15s linear, border 0.15s linear;
}

@media (any-hover: hover) {
    .header__nav a:hover,
  .header__nav span:hover {
        color: var(--color-01);
        border-bottom-color: currentColor;
    }
}

@media (min-width: 1200px) {
    .header__nav {
        --_offset-right: 24px;
    }

    .header__nav a,
  .header__nav span {
        font-size: 1rem;
    }
}

.header__button {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}

.header-mobile.active .header-mobile__head {
    background: var(--color-07);
}

.header-mobile.active .header-mobile__menu-button {
    box-shadow: 0px 0px 0px 0px var(--color-01);
}

.header-mobile.active .header-mobile__menu-button .header-mobile__icon-close {
    opacity: 1;
    visibility: visible;
}

.header-mobile.active .header-mobile__menu-button .header-mobile__icon-menu {
    opacity: 0;
    visibility: hidden;
}

.header-mobile.active .header-mobile__logo .header-mobile__logo-icon-active {
    opacity: 1;
    visibility: visible;
}

.header-mobile.active .header-mobile__logo .header-mobile__logo-icon {
    opacity: 0;
    visibility: hidden;
}

.header-mobile.active .header-mobile__body {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
}

.header-mobile__head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--zIndex);
    background: rgba(var(--color-06), 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: background 0.2s linear, -webkit-backdrop-filter 0.2s linear;
    transition: background 0.2s linear, backdrop-filter 0.2s linear;
    transition: background 0.2s linear, backdrop-filter 0.2s linear, -webkit-backdrop-filter 0.2s linear;
}

.header-mobile__row {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header-mobile__button,
.header-mobile__menu-button {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    background-color: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

.header-mobile__menu-button {
    display: block;
    position: relative;
}

.header-mobile__icon-close,
.header-mobile__icon-menu {
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.header-mobile__icon-close {
    opacity: 0;
    visibility: hidden;
}

.header-mobile__logo {
    flex: 0 1 136px;
    display: block;
    position: relative;
}

.header-mobile__logo img {
    width: 100%;
}

@media (min-width: 576px) {
    .header-mobile__logo {
        flex: 0 1 155px;
    }
}

.header-mobile__logo-icon,
.header-mobile__logo-icon-active {
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.header-mobile__logo-icon-active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.header-mobile__body {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    bottom: 0;
    z-index: calc(var(--zIndex) - 1);
    background: var(--color-07);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.2s;
}

.header-mobile__body .container {
    height: 100%;
}

.header-mobile__body-container {
    height: 100%;
    padding: 25px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-mobile__actions {
    margin: 0 0 16px 0;
    overflow: auto;
    display: grid;
    justify-items: center;
    gap: 16px;
}

.header-mobile__action,
.header-mobile__link {
    display: block;
    cursor: pointer;
    font-family: "SoyuzGrotesk";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
}

.header-mobile__action {
    color: var(--color-01);
    transition: color 0.15s linear, border 0.15s linear;
}

.header-mobile__image {
    width: 100%;
    max-width: 150px;
    margin: 0 0 25px 0;
}

.header-mobile__image img {
    width: 100%;
}

.header-mobile__link {
    margin: auto 0 0 0;
    color: var(--color-03);
}

.footer {
    padding: 50px 0;
    background: var(--color-02);
}

@media (min-width: 1200px) {
    .footer {
        padding: 60px 0 70px 0;
    }
}

.footer__wrapper {
    display: grid;
    justify-items: center;
    gap: 35px;
}

.footer__logo {
    width: 100%;
    max-width: 135px;
    display: block;
}

.footer__logo img {
    width: 100%;
}

@media (min-width: 576px) {
    .footer__logo {
        max-width: 190px;
    }
}

.footer__text {
    display: block;
    font-size: 0.875rem;
    text-align: justify;
    color: var(--color-06);
}

.footer__text a {
    color: var(--color-07);
}

@media (any-hover: hover) {
    .footer__text a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 992px) {
    .footer__text {
        text-align: left;
    }
}

.footer__items {
    width: 100%;
}

.footer__label {
    margin: 0 0 15px 0;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-07);
}

.footer__item {
    padding: 0 0 0 1.143em;
    display: block;
    font-size: 0.875rem;
    color: var(--color-06);
    position: relative;
}

.footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}

.footer__item::before {
    content: "";
    width: 0.286em;
    height: 0.286em;
    display: block;
    border-radius: 50%;
    background: currentColor;
    position: absolute;
    top: 0.429em;
    left: 0.429em;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px 25px;
}

@media (min-width: 768px) {
    .footer__contacts {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.footer__contact {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-07);
    cursor: pointer;
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .footer__contact:hover {
        color: var(--color-06);
    }
}

.footer__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px) {
    .footer__actions {
        width: auto;
    }
}

.footer__action {
    display: block;
    font-size: 0.875rem;
    line-height: 1.333;
    text-align: center;
    color: var(--color-12);
    cursor: pointer;
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .footer__action:hover {
        color: var(--color-06);
    }
}

.footer__action-divide {
    width: 1px;
    height: 15px;
    margin: 0 10px;
    display: block;
    background: var(--color-13);
}

@media (min-width: 500px) {
    .footer__action-divide {
        margin: 0 20px;
    }
}

.calc {
    --calc-negetiv-mi: calc(var(--container-pi) - var(--container-pi) * 2);
}

.calc__form {
    padding: var(--container-pi) var(--container-pi) 45px;
    margin: 0 var(--calc-negetiv-mi);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-07);
}

@media (min-width: 576px) {
    .calc__form {
        padding: 10px 15px 60px 15px;
        margin: 0;
    }
}

.calc__range,
.calc__dates,
.calc__output {
    width: 100%;
}

.calc__range,
.calc__dates,
.calc__output,
.calc__button {
    position: relative;
    z-index: 1;
}

.calc__range {
    margin: 0 0 30px 0;
}

.calc__sum {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calc__sum span {
    padding: 0.278em 0 0 0;
    font-size: 1.125rem;
    color: var(--color-03);
}

.calc__sum strong {
    font-family: "SoyuzGrotesk";
    font-size: 2.25rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--color-01);
}

.calc__dates {
    margin: 0 0 28px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.calc__date {
    flex: 0 0 6.5em;
    height: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "SoyuzGrotesk";
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.8;
    text-align: center;
    color: var(--color-01);
    border-radius: 3.75em;
    border: 1px solid var(--color-01);
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px #000;
    transition: color 0.15s linear, background 0.15s linear;
}

@media (any-hover: hover) {
    .calc__date:hover {
        background: var(--color-04);
    }
}

.calc__date.active {
    color: var(--color-06);
    background: var(--color-03);
}

.calc__output {
    margin: 0 0 15px 0;
    display: block;
    font-size: 1rem;
    text-align: center;
    color: var(--color-03);
}

.calc__output span {
    font-weight: 600;
}

.calc__button {
    max-width: 20.625rem;
}

@media (min-width: 768px) {
    .calc__button::after {
        display: none;
    }
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal {
    padding: 0 17px;
    height: 4px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: var(--color-01);
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-connects {
    border-radius: 0;
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-connect {
    background: var(--color-01);
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-handle {
    width: 36px;
    height: 36px;
    top: -16px;
    right: -18px;
    border-radius: 0;
    border: none;
    border: 1px solid var(--color-01);
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
    transition: box-shadow 0.15s linear;
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-handle::before, .calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-handle::after {
    display: none;
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-handle.noUi-active {
    box-shadow: 0px 0px 0px 0px var(--color-01);
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-pips.noUi-pips-horizontal {
    width: calc(100% - 3px);
    padding: 0;
    height: 10px;
    top: -3px;
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-marker {
    margin-left: 0;
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-marker.noUi-marker-large {
    height: 100%;
    width: 3px;
    background: var(--color-03);
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-marker.noUi-marker-normal {
    height: 7px;
    width: 2px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    background: var(--color-03);
}

.calc__range-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-value {
    display: none;
}

.index__title {
    margin: 0 0 36px 0;
    display: grid;
    justify-items: center;
    gap: 36px;
}

.index__title h2 {
    display: block;
    font-family: "SoyuzGrotesk";
    font-size: clamp(32px, 1.538rem + 2.05vw, 64px);
    text-align: center;
    font-weight: 700;
    line-height: 1.1;
    color: var(--color-01);
}

.index__title span {
    width: 100%;
    max-width: 30em;
    display: block;
    font-size: 1rem;
    text-align: center;
    color: var(--color-11);
}

@media (min-width: 1200px) {
    .index__title {
        margin: 0 0 48px 0;
        gap: 48px;
    }

    .index__title span {
        font-size: 1.125rem;
    }
}

.index__main-index {
    padding: 20px 0 0 0;
}

@media (min-width: 576px) {
    .index__main-index {
        padding: 30px 0;
    }
}

@media (min-width: 768px) {
    .index__main-index {
        padding: 50px 0;
    }
}

@media (min-width: 1200px) {
    .index__main-index {
        padding: 78px 0;
    }
}

.index__image-features picture {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 576px) {
    .index__image-features picture {
        max-width: 863px;
    }
}

.index__image-features img {
    width: 100%;
}

.index__get-loan,
.index__rules {
    padding: 30px 0 50px 0;
}

@media (min-width: 768px) {
    .index__get-loan,
  .index__rules {
        padding: 40px 0 50px 0;
    }
}

@media (min-width: 1200px) {
    .index__get-loan,
  .index__rules {
        padding: 60px 0;
    }
}

.index__features,
.index__questions {
    padding: 25px 0 70px 0;
}

@media (min-width: 768px) {
    .index__features,
  .index__questions {
        padding: 40px 0 70px 0;
    }
}

@media (min-width: 1200px) {
    .index__features,
  .index__questions {
        padding: 60px 0 90px;
    }
}

.index__statistics-image {
    max-width: 290px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 576px) {
    .index__statistics-image {
        max-width: 798px;
    }
}

.index__reviews {
    padding: 25px 0 45px 0;
}

@media (min-width: 768px) {
    .index__reviews {
        padding: 40px 0 60px 0;
    }
}

@media (min-width: 1200px) {
    .index__reviews {
        padding: 60px 0 90px;
    }
}

.index__rules-wrapper picture {
    width: 100%;
    max-width: 315px;
    margin: 0 auto;
    display: block;
}

.index__rules-wrapper picture img {
    width: 100%;
}

@media (min-width: 576px) {
    .index__rules-wrapper picture {
        max-width: 720px;
    }
}

.index__application {
    background: var(--color-02);
}

.index__application-wrapper {
    padding: 55px 0 60px 0;
    position: relative;
}

.index__application-wrapper .index__title {
    position: relative;
    z-index: 1;
}

.index__application-wrapper .index__title h2 {
    padding: 0 65px;
    color: var(--color-07);
}

.index__application-wrapper .index__title span {
    max-width: 38.889em;
    color: var(--color-06);
}

.index__application-wrapper .index__title span:last-child {
    color: var(--color-12);
}

.index__application-wrapper .button {
    max-width: 20.625rem;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .index__application-wrapper .index__title h2 {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .index__application-wrapper {
        padding: 60px 0 70px;
    }
}

.index__application-decor-1,
.index__application-decor-2,
.index__application-decor-3,
.index__application-decor-4 {
    position: absolute;
    z-index: 0;
}

.index__application-decor-1 {
    bottom: 50px;
    left: -90px;
}

@media (max-width: 992px) {
    .index__application-decor-1 {
        display: none;
    }
}

.index__application-decor-2 {
    top: 10px;
    left: -7px;
}

@media (min-width: 576px) {
    .index__application-decor-2 {
        top: 30px;
        left: 20px;
    }
}

.index__application-decor-3 {
    top: 195px;
    right: 25px;
}

@media (max-width: 768px) {
    .index__application-decor-3 {
        display: none;
    }
}

.index__application-decor-4 {
    top: 120px;
    right: -80px;
}

@media (max-width: 992px) {
    .index__application-decor-4 {
        display: none;
    }
}

.main-index__wrapper {
    position: relative;
}

.main-index__wrapper::before, .main-index__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-index__wrapper::before {
    width: 42px;
    height: 42px;
    top: 120px;
    left: -12px;
    background-image: url("../images/main-index/dekor_01.png");
}

.main-index__wrapper::after {
    width: 50px;
    height: 50px;
    top: -24px;
    right: 0;
    background-image: url("../images/main-index/dekor_02.png");
}

@media (min-width: 768px) {
    .main-index__wrapper::before {
        width: 51px;
        height: 51px;
        top: 180px;
        left: -70px;
    }

    .main-index__wrapper::after {
        width: 62px;
        height: 62px;
        top: -18px;
        left: 37%;
    }
}

.main-index__row {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main-index__row {
        flex-direction: row;
        justify-content: space-between;
    }
}

.main-index__preview {
    margin: 0 0 15px 0;
    display: grid;
    justify-items: center;
    gap: 14px;
}

@media (min-width: 768px) {
    .main-index__preview {
        flex: 0 1 auto;
        margin: 0 20px 0 0;
        gap: 24px;
    }
}

.main-index__title {
    padding: 0 0 18px 0;
    display: block;
    font-family: "SoyuzGrotesk";
    text-align: center;
    font-size: clamp(56px, 2.865rem + 2.82vw, 100px);
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: var(--color-01);
}

@media (min-width: 768px) {
    .main-index__title {
        padding: 0 0 0 0;
    }
}

.main-index__image {
    width: 100%;
    max-width: 103px;
}

.main-index__image img {
    width: 100%;
}

@media (min-width: 576px) {
    .main-index__image {
        max-width: 170px;
    }
}

.main-index__subtitle {
    display: block;
    font-size: 1.125rem;
    text-align: center;
    font-weight: 400;
    color: var(--color-01);
}

.main-index__calc {
    width: 100%;
}

@media (min-width: 576px) {
    .main-index__calc {
        max-width: 500px;
        position: relative;
        border: 1px solid var(--color-01);
    }

    .main-index__calc::before, .main-index__calc::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main-index__calc::before {
        width: 51px;
        height: 51px;
        left: -18px;
        bottom: 5px;
        background-image: url("../images/main-index/dekor_01.png");
    }

    .main-index__calc::after {
        width: 62px;
        height: 62px;
        right: -23px;
        top: 50%;
        background-image: url("../images/main-index/dekor_02.png");
    }
}

@media (min-width: 768px) {
    .main-index__calc {
        flex: 0 1 570px;
        width: auto;
        max-width: none;
    }
}

.get-loan__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}

@media (min-width: 400px) {
    .get-loan__items {
        justify-items: center;
    }
}

.get-loan__item {
    display: flex;
    align-items: center;
}

.get-loan__step {
    margin: 0 15px 0 0;
    display: block;
    font-size: 84px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-07);
    text-shadow: 4px 4px 0px #000;
}

.get-loan__label {
    font-size: 1rem;
    color: var(--color-01);
}

.payment-cards {
    padding: 45px 0 60px 0;
    background: var(--color-07);
}

@media (min-width: 768px) {
    .payment-cards {
        padding: 50px 0 60px 0;
    }
}

@media (min-width: 1200px) {
    .payment-cards {
        padding: 60px 0 80px 0;
    }
}

@media (min-width: 1200px) {
    .payment-cards__wrapper {
        padding: 0 35px;
    }
}

.payment-cards__items {
    margin: 0 0 36px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
}

@media (min-width: 768px) {
    .payment-cards__items {
        margin: 0 0 45px 0;
        gap: 24px;
    }
}

@media (min-width: 1200px) {
    .payment-cards__items {
        margin: 0 0 60px 0;
    }
}

.payment-cards__item {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-01);
    background: var(--color-06, #fff);
    box-shadow: 4px 4px 0px 0px var(--color-01);
}

.payment-cards__item img {
    flex: 0 0 100px;
}

.payment-cards__button {
    max-width: 22.5rem;
    margin: 0 auto;
}

.features__items {
    display: grid;
    grid-template-columns: minmax(100px, 316px);
    justify-content: center;
    gap: 24px;
}

@media (min-width: 576px) {
    .features__items {
        grid-template-columns: repeat(3, minmax(100px, 316px));
    }
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__img {
    width: 100%;
    max-width: 152px;
    margin: 0 0 15px 0;
}

.features__img img {
    width: 100%;
}

.features__label {
    margin: 0 0 8px 0;
    display: block;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--color-01);
}

.features__sublabel {
    display: block;
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-11);
}

.reviews {
    --reviews-negetiv-mi: calc(var(--container-pi) - var(--container-pi) * 2);
}

.reviews__slider .swiper {
    padding: 0 30px 4px;
    margin: 0 var(--reviews-negetiv-mi);
}

.reviews__slider .swiper-slide {
    height: auto;
}

@media (min-width: 500px) {
    .reviews__slider .swiper {
        padding: 0 4px 4px 0;
    }
}

@media (min-width: 1200px) {
    .reviews__slider .swiper {
        margin: 0;
    }
}

.reviews__slide {
    height: 100%;
    padding: 15px 15px 35px 15px;
    border: 1px solid var(--color-01);
    background: var(--color-06);
    box-shadow: 4px 4px 0px 0px var(--color-01);
}

.reviews__user {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
}

.reviews__avatar {
    flex: 0 0 40px;
    height: 40px;
    margin: 0 15px 0 0;
    overflow: hidden;
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
    position: relative;
}

.reviews__avatar::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid var(--color-01);
}

.reviews__name,
.reviews__comment {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-11);
}

.reviews__comment {
    font-weight: 400;
    color: var(--color-01);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}

.questions__wrapper {
    position: relative;
}

.questions__title,
.questions__items {
    position: relative;
    z-index: 1;
}

.questions__items {
    display: grid;
    grid-template-columns: minmax(280px, 570px);
    justify-content: center;
    gap: 25px;
}

.questions__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-01);
}

.questions__button span {
    padding: 0 15px 0 0;
    display: block;
}

.questions__button.active .questions__icon {
    box-shadow: 0px 0px 0px 0px var(--color-01);
}

.questions__button.active .questions__icon svg {
    transform: rotate(45deg);
}

.questions__icon {
    flex: 0 0 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-01);
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
    transition: box-shadow 0.2s linear;
}

.questions__icon svg {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    display: block;
    fill: var(--color-01);
    transition: transform 0.2s linear;
}

@media (any-hover: hover) {
    .questions__icon:hover {
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

.questions__answer {
    padding: 10px 45px 0 0;
    display: block;
    font-size: 0.875rem;
    color: var(--color-03);
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 2s;
}

.questions__answer.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.questions__decor-1,
.questions__decor-2,
.questions__decor-3,
.questions__decor-4 {
    position: absolute;
    z-index: 0;
    display: none;
}

@media (min-width: 768px) {
    .questions__decor-1,
  .questions__decor-2,
  .questions__decor-3,
  .questions__decor-4 {
        display: block;
    }
}

.questions__decor-1 {
    top: 62%;
    left: -13px;
}

.questions__decor-2 {
    top: 15%;
    left: 25px;
}

@media (min-width: 1200px) {
    .questions__decor-2 {
        left: 145px;
    }
}

.questions__decor-3 {
    top: 6.5%;
    right: 98px;
}

.questions__decor-4 {
    top: 77%;
    right: -30px;
}

.index-calc {
    padding: 40px 0 20px 0;
    position: relative;
    background: var(--color-07);
}

@media (min-width: 576px) {
    .index-calc {
        padding: 40px 0 65px 0;
    }
}

@media (min-width: 992px) {
    .index-calc {
        position: static;
    }
}

@media (min-width: 1200px) {
    .index-calc {
        padding: 60px 0 70px 0;
    }
}

.index-calc__wrapper::after {
    content: "";
    width: 62.86px;
    height: 62.86px;
    display: block;
    position: absolute;
    top: 8px;
    right: 6px;
    background-image: url("../images/index-calc/decor_01.png");
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 992px) {
    .index-calc__wrapper {
        position: relative;
    }

    .index-calc__wrapper::after {
        top: -28px;
        right: 140px;
    }
}

.index-calc__title {
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .index-calc__title {
        margin: 0 0 20px 0;
    }

    .index-calc__title h2 {
        font-size: 50px;
    }
}

.index-calc__subtitle {
    display: block;
    font-size: 0.75rem;
    font-weight: 200;
    text-align: center;
    color: var(--color-01);
}

@media (min-width: 576px) {
    .index-calc__subtitle {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .index-calc__subtitle {
        display: none;
    }
}

@media (min-width: 576px) {
    .index-calc__calc {
        max-width: 570px;
        margin: 0 auto;
        border: 1px solid var(--color-01);
    }
}