@charset "UTF-8";

:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1165px;
    --container-pi: 15px;
    --header-height: 45px;
    --color-01: #000000;
    --color-02: #262626;
    --color-03: #404040;
    --color-04: #a5a5a5;
    --color-05: #f6f6f6;
    --color-06: #ffffff;
    --color-07: #ebff00;
    --color-08: #f9fc6a;
    --color-09: #483cd6;
    --color-10: #d20000;
    --color-11: #5c5c5c;
    --color-12: #b1b1b1;
    --color-13: #626262;
    --color-14: #e0e0e0;
    --color-15: #270f69;
    --color-16: #383838;
    --color-17: #696969;
    --header-mobile-bg: rgba(255, 255, 255, 0.85);
    --zIndex: 999;
}

@media (min-width: 768px) {
    :root {
        --header-height: 65px;
    }
}

@media (min-width: 992px) {
    :root {
        --header-height: 80px;
    }
}

@media (min-width: 1200px) {
    :root {
        --header-height: 115px;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-UltraLight.woff") format("woff"), url("../fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SoyuzGrotesk";
  font-style: normal;
  font-weight: 700;
  src: local("SoyuzGrotesk"), local("SoyuzGrotesk"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.woff2") format("woff2"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.woff") format("woff"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.ttf") format("truetype");
}
/*
  Имена шрифтов:

  Gilroy
  Montserrat
  Roboto
  SoyuzGrotesk
*/
body {
    font-family: "Gilroy";
    font-size: 1.125rem;
    line-height: normal;
    font-weight: 400;
    color: var(--color-01);
    background-color: var(--color-06);
}

body.no-scroll {
    overflow: hidden;
}

.shadow {
    box-shadow: 4px 4px 0px 0px var(--color-01);
    transition-property: box-shadow, background, border, color, transform;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

@media (any-hover: hover) {
    .shadow:not(.shadow_no-hover):hover {
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

.button {
    --button-height: 54px;
    --button-padding: 10px;
    --button-fs: 28px;
    --button-clr: var(--color-01);
    --button-bg: var(--color-06);
    --button-border-clr: var(--color-01);
    width: 100%;
    min-height: var(--button-height);
    padding: var(--button-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SoyuzGrotesk";
    font-size: var(--button-fs);
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--button-clr);
    cursor: pointer;
    border: 1px solid var(--button-border-clr);
    background: var(--button-bg);
    box-shadow: 4px 4px 0px 0px var(--color-01);
    transition-property: box-shadow, background, border, color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    outline: none;
}

@media (any-hover: hover) {
    .button:hover {
        --button-bg: var(--color-04);
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

.button_secondary {
    --button-bg: var(--color-07);
}

@media (any-hover: hover) {
    .button_secondary:hover {
        --button-bg: var(--color-08);
    }
}

.button_icon {
    position: relative;
}

.button_icon::after {
    content: "";
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    top: 24px;
    right: 4px;
    border-radius: 50%;
    background-image: url("../images/UI/button/icon_01.svg");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 992px) {
    .wrapper {
        padding: var(--header-height) 0 0 0;
    }
}

.container {
    --_max-width-container: var(--max-width-container, 1200px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    width: 100%;
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

@media (max-width: 992px) {
    .header {
        display: none;
    }
}

.header__body {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
}

.header__logo {
    flex: 0 1 190px;
    min-width: 136px;
    margin: 0 auto 0 0;
    display: block;
}

.header__logo-icon {
    display: block;
}

.header__logo-icon img {
    width: 100%;
}

.header__nav {
    --_offset-right: 15px;
    padding: 0 var(--_offset-right) 0 0;
    margin: 0 var(--_offset-right);
    display: flex;
    flex-wrap: wrap;
    gap: 10px var(--_offset-right);
    border-right: 1px solid var(--color-03);
}

.header__nav a,
.header__nav span {
    display: block;
    cursor: pointer;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
    color: var(--color-03);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: color 0.15s linear, border 0.15s linear;
}

@media (any-hover: hover) {
    .header__nav a:hover,
  .header__nav span:hover {
        color: var(--color-01);
        border-bottom-color: currentColor;
    }
}

@media (min-width: 1200px) {
    .header__nav {
        --_offset-right: 24px;
    }

    .header__nav a,
  .header__nav span {
        font-size: 1rem;
    }
}

.header__button {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}

.header-mobile.active .header-mobile__head {
    background: var(--color-07);
}

.header-mobile.active .header-mobile__menu-button {
    box-shadow: 0px 0px 0px 0px var(--color-01);
}

.header-mobile.active .header-mobile__menu-button .header-mobile__icon-close {
    opacity: 1;
    visibility: visible;
}

.header-mobile.active .header-mobile__menu-button .header-mobile__icon-menu {
    opacity: 0;
    visibility: hidden;
}

.header-mobile.active .header-mobile__logo .header-mobile__logo-icon-active {
    opacity: 1;
    visibility: visible;
}

.header-mobile.active .header-mobile__logo .header-mobile__logo-icon {
    opacity: 0;
    visibility: hidden;
}

.header-mobile.active .header-mobile__body {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
}

.header-mobile__head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--zIndex);
    background: var(--header-mobile-bg);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: background 0.2s linear, -webkit-backdrop-filter 0.2s linear;
    transition: background 0.2s linear, backdrop-filter 0.2s linear;
    transition: background 0.2s linear, backdrop-filter 0.2s linear, -webkit-backdrop-filter 0.2s linear;
}

.header-mobile__row {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header-mobile__button,
.header-mobile__menu-button {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    background-color: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

.header-mobile__menu-button {
    display: block;
    position: relative;
}

.header-mobile__icon-close,
.header-mobile__icon-menu {
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.header-mobile__icon-close {
    opacity: 0;
    visibility: hidden;
}

.header-mobile__logo {
    flex: 0 1 136px;
    display: block;
    position: relative;
}

.header-mobile__logo img {
    width: 100%;
}

@media (min-width: 576px) {
    .header-mobile__logo {
        flex: 0 1 155px;
    }
}

.header-mobile__logo-icon,
.header-mobile__logo-icon-active {
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.header-mobile__logo-icon-active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.header-mobile__body {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    bottom: 0;
    z-index: calc(var(--zIndex) - 1);
    background: var(--color-07);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.2s;
}

.header-mobile__body .container {
    height: 100%;
}

.header-mobile__body-container {
    height: 100%;
    padding: 25px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-mobile__actions {
    width: 100%;
    margin: 0 0 16px 0;
    overflow: auto;
    display: grid;
    gap: 16px;
}

.header-mobile__action,
.header-mobile__link {
    display: block;
    cursor: pointer;
    font-family: "SoyuzGrotesk";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
}

.header-mobile__action.active[data-tab-button],
.header-mobile__link.active[data-tab-button] {
    color: var(--color-17);
}

.header-mobile__action {
    color: var(--color-01);
    transition: color 0.15s linear, border 0.15s linear;
}

.header-mobile__image {
    width: 100%;
    max-width: 150px;
    margin: 0 0 25px 0;
}

.header-mobile__image img {
    width: 100%;
}

.header-mobile__link {
    margin: auto 0 0 0;
    color: var(--color-03);
}

.footer {
    padding: 50px 0;
    background: var(--color-02);
}

@media (min-width: 1200px) {
    .footer {
        padding: 60px 0 70px 0;
    }
}

.footer__wrapper {
    display: grid;
    justify-items: center;
    gap: 35px;
}

.footer__logo {
    width: 100%;
    max-width: 135px;
    display: block;
}

.footer__logo img {
    width: 100%;
}

@media (min-width: 576px) {
    .footer__logo {
        max-width: 190px;
    }
}

.footer__text {
    display: block;
    font-size: 0.875rem;
    text-align: justify;
    color: var(--color-06);
}

.footer__text a {
    color: var(--color-07);
}

@media (any-hover: hover) {
    .footer__text a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 992px) {
    .footer__text {
        text-align: left;
    }
}

.footer__items {
    width: 100%;
}

.footer__label {
    margin: 0 0 15px 0;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-07);
}

.footer__item {
    padding: 0 0 0 1.143em;
    display: block;
    font-size: 0.875rem;
    color: var(--color-06);
    position: relative;
}

.footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}

.footer__item::before {
    content: "";
    width: 0.286em;
    height: 0.286em;
    display: block;
    border-radius: 50%;
    background: currentColor;
    position: absolute;
    top: 0.429em;
    left: 0.429em;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px 25px;
}

@media (min-width: 768px) {
    .footer__contacts {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.footer__contact {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-07);
    cursor: pointer;
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .footer__contact:hover {
        color: var(--color-06);
    }
}

.footer__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px) {
    .footer__actions {
        width: auto;
    }
}

.footer__action {
    display: block;
    font-size: 0.875rem;
    line-height: 1.333;
    text-align: center;
    color: var(--color-12);
    cursor: pointer;
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .footer__action:hover {
        color: var(--color-06);
    }
}

.footer__action-divide {
    width: 1px;
    height: 15px;
    margin: 0 10px;
    display: block;
    background: var(--color-13);
}

@media (min-width: 500px) {
    .footer__action-divide {
        margin: 0 20px;
    }
}

/*
<div class="inputs">
...

  <div class="inputs__label">
    <span>Просто текст</span>
  </div>
  <div class="inputs__label-error">
    <span>Текст с ошибкой</span>
  </div>
</div>
*/
.inputs {
    --input-fs: 18px;
    --input-height: 42px;
    --input-border-clr: var(--color-03);
    --input-pi: 15px;
    --input-clr: var(--color-01);
    --input-bg: var(--color-06);
    --input-placeholder-clr: var(--color-04);
    --input-error-label-fs: 16px;
    --input-error-clr: var(--color-10);
}

.inputs.error {
    --input-border-clr: var(--input-error-clr);
}

.inputs.error .inputs__label-error {
    display: block;
}

.inputs__label,
.inputs__label-error {
    font-size: var(--input-error-label-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.inputs__label span,
.inputs__label-error span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.inputs__label {
    color: var(--input-clr);
}

.inputs__label-error {
    display: none;
    color: var(--input-error-clr);
}

/*
<div class="inputs input">
  <div class="input__wrapper">
    <div class="input__group">
      <input
        class="input__target"
        type="text"
        placeholder="Ввадите фамилию"
        data-autocomplete
      />
    </div>

    <div class="inputs__label">
      <span>Просто текст</span>
    </div>
    <div class="inputs__label-error">
      <span>Для получения договора и документов об оплате</span>
    </div>
  </div>
</div>
*/
.input__target {
    width: 100%;
    height: var(--input-height);
    padding: 0 var(--input-pi);
    display: block;
    font-size: var(--input-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--input-clr);
    border: 1px solid var(--input-border-clr);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.input__target::-moz-placeholder {
    color: var(--input-clr);
    -moz-transition: color 0.15s linear;
    transition: color 0.15s linear;
}

.input__target::placeholder {
    color: var(--input-clr);
    transition: color 0.15s linear;
}

.input__target:focus::-moz-placeholder {
    color: var(--input-placeholder-clr);
}

.input__target:focus::placeholder {
    color: var(--input-placeholder-clr);
}

/*
<div class="inputs select">
  <div class="select__wrapper">
    <div class="select__body">
      <select class="js-example-basic-single" name="state" data-select>
        <option value="Москва">Москва</option>
        <option value="Санкт-Петербург">Санкт-Петербург</option>
        <option value="Екатеренбург">Екатеренбург</option>
      </select>

      <div class="select__icon">
        <svg>
          <use
            href="../images/sprite.svg#plus"
            xlink:href="../images/sprite.svg#plus"
          ></use>
        </svg>
      </div>
    </div>

    <div class="inputs__label">
      <span>Просто текст</span>
    </div>
    <div class="inputs__label-error">
      <span>Для получения договора и документов об оплате</span>
    </div>
  </div>
</div>

*/
.select {
    --select-icon-size: 19px;
    --select-icon-svg-size: 11px;
    --select-icon-right: var(--input-pi);
    --select-icon-clr: var(--input-clr);
}

.select.error .select2 .select2-selection--single .select2-selection__rendered {
    --input-border-clr: var(--input-error-clr);
}

.select__body {
    position: relative;
}

.select__icon {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--select-icon-size);
    border-radius: 50%;
    background: var(--color-14);
    position: absolute;
    top: calc(50% - var(--select-icon-size) / 2);
    right: var(--select-icon-right);
    pointer-events: none;
}

.select__icon svg {
    flex: 0 0 var(--select-icon-svg-size);
    width: var(--select-icon-svg-size);
    height: var(--select-icon-svg-size);
    display: block;
    fill: var(--select-icon-clr);
    transition: transform 0.15s linear;
}

.select .select2 {
    display: block;
}

.select .select2.select2-container--open + .select__icon svg {
    transform: rotate(45deg);
}

.select .select2 .select2-selection--single {
    height: auto;
    background: none;
    border-radius: 0 !important;
    border: none;
}

.select .select2 .select2-selection--single .select2-selection__rendered {
    padding: 0 calc(var(--select-icon-size) + var(--select-icon-right) + 10px) 0 var(--input-pi);
    font-size: var(--input-fs);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--input-height) - 2px);
    color: var(--input-clr);
    border: 1px solid var(--input-border-clr);
    border-radius: 0 !important;
    background: var(--input-bg);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    white-space: normal;
    transition: color 0.2s linear, border 0.2s linear;
}

.select .select2 .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-dropdown.select__dropdown {
    --select-option-clr: var(--color-04);
    --select-option-clr-hover: var(--color-01);
    padding: 8px var(--input-pi);
    border-radius: 0 !important;
    border: 1px solid var(--input-border-clr) !important;
    overflow: hidden;
    z-index: calc(var(--zIndex) - 1);
    background: var(--input-bg);
}

.select2-dropdown.select__dropdown.select2-dropdown--below {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.select2-dropdown.select__dropdown.select2-dropdown--above {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
}

.select__dropdown .select2-search.select2-search--dropdown {
    display: none;
}

.select2-dropdown.select__dropdown .select2-results__option.select2-results__option--selectable {
    padding: 2px 0;
    font-size: var(--input-fs);
    font-weight: 400;
    line-height: 1.2;
    color: var(--select-option-clr);
    background: none !important;
    transition: color 0.15s linear;
}

.select2-dropdown.select__dropdown .select2-results__option.select2-results__option--selectable.select2-results__option--selected {
    color: var(--select-option-clr-hover);
}

@media (any-hover: hover) {
    .select2-dropdown.select__dropdown .select2-results__option.select2-results__option--selectable:hover {
        color: var(--select-option-clr-hover);
    }
}

/*
<div class="checkbox">
  <div class="checkbox__wrapper">
    <label class="checkbox__label">
      <input class="checkbox__input" type="checkbox" />
      <div class="checkbox__icon">
        <img src="../images/UI/checkbox/icon_01.svg" alt="icon" />
      </div>
      <p class="checkbox__text">
        Я ознакомлен и согласен со <span>следующим</span>
      </p>
    </label>
  </div>
</div>
*/
.checkbox {
    --checkbox-fs: 1rem;
    --chekcbox-icon-size: 25px;
    --checkbox-icon-img-size: 17px;
}

.checkbox__wrapper {
    display: flex;
}

.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (any-hover: hover) {
    .checkbox__label:hover .checkbox__icon {
        background: var(--color-08);
    }
}

.checkbox__input {
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: -999;
    opacity: 0;
    visibility: hidden;
}

.checkbox__input:checked + .checkbox__icon {
    background: var(--color-06);
}

.checkbox__input:checked + .checkbox__icon img {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.checkbox__icon {
    flex: 0 0 var(--chekcbox-icon-size);
    width: var(--chekcbox-icon-size);
    height: var(--chekcbox-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-09);
    background: var(--color-06);
    transition: background 0.3s linear;
}

.checkbox__icon img {
    flex: 0 0 var(--checkbox-icon-img-size);
    width: var(--checkbox-icon-img-size);
    height: var(--checkbox-icon-img-size);
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.2s;
}

.checkbox__text {
    padding: 0 0 0 0.438em;
    display: block;
    font-size: var(--checkbox-fs);
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    color: var(--color-03);
}

.checkbox__text span {
    color: var(--color-09);
}

@media (any-hover: hover) {
    .checkbox__text span:hover {
        text-decoration: underline;
    }
}

/*
<div class="inputs radio">
  <div class="radio__wrapper">
    <span class="radio__label">Ваш пол</span>

    <div class="radio__actions">
      <label class="radio__action">
        <input class="radio__input" name="sex" type="radio" value="male" />
        <span class="radio__button">мужской</span>
      </label>

      <label class="radio__action">
        <input class="radio__input" name="sex" type="radio" value="female" />
        <span class="radio__button">женский</span>
      </label>
    </div>
  </div>
</div>
*/
.radio {
    --radio-label-fs: var(--input-fs);
    --radio-button-fs: var(--input-fs);
    --radio-bg: var(--color-06);
    --radio-bg-hover: var(--color-08);
    --radio-bg-active: var(--color-07);
}

.radio__label {
    margin: 0 0 5px 0;
    display: block;
    font-size: var(--radio-label-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--input-clr);
}

.radio__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.radio__action {
    display: block;
}

.radio__input {
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: -999;
    opacity: 0;
    visibility: hidden;
}

.radio__input:checked + .radio__button {
    background: var(--radio-bg-active);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

.radio__button {
    min-width: 6.5em;
    height: 1.75em;
    padding: 0 0.938em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SoyuzGrotesk";
    font-size: var(--radio-button-fs);
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    color: var(--input-clr);
    cursor: pointer;
    background: var(--radio-bg);
    transition: background 0.15s linear, box-shadow 0.15s linear;
    border-radius: 3.75em;
    border: 1px solid var(--input-border-clr);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

@media (any-hover: hover) {
    .radio__button:hover {
        background: var(--radio-bg-hover);
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

/*
<div class="inputs textarea">
  <div class="textarea__wrapper">
    <div class="textarea__group">
      <textarea class="textarea__target" placeholder="Комментарий"></textarea>
    </div>

    <div class="inputs__label">
      <span>Просто текст</span>
    </div>
    <div class="inputs__label-error">
      <span>Для получения договора и документов об оплате</span>
    </div>
  </div>
</div>
*/
.textarea__target {
    width: 100%;
    height: 6.667em;
    padding: 0.556em var(--input-pi);
    display: block;
    font-size: var(--input-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--input-clr);
    border: 1px solid var(--input-border-clr);
    resize: none;
}

.textarea__target::-moz-placeholder {
    color: var(--input-clr);
    -moz-transition: color 0.15s linear;
    transition: color 0.15s linear;
}

.textarea__target::placeholder {
    color: var(--input-clr);
    transition: color 0.15s linear;
}

.textarea__target:focus::-moz-placeholder {
    color: var(--input-placeholder-clr);
}

.textarea__target:focus::placeholder {
    color: var(--input-placeholder-clr);
}

/*
<div class="title">
  <h2>Заголовок</h2>

  <p>Подзаголовок. <span>Выделить</span></p>
</div>
*/
.title {
    --title-fs: 2.25rem;
    margin: 0 0 25px 0;
    display: grid;
    gap: 10px;
}

.title h2,
.title h3,
.title h4 {
    display: block;
    font-family: "SoyuzGrotesk";
    font-size: var(--title-fs);
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--color-01);
}

@media (min-width: 1200px) {
    .title {
        --title-fs: 3rem;
        margin: 0 0 36px 0;
        gap: 36px;
    }
}

.title p {
    display: block;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.25;
    color: var(--color-03);
}

.title p span {
    color: var(--color-10);
}

@media (min-width: 576px) {
    .title p {
        font-size: 1rem;
    }
}

.title_medium {
    --title-fs: 1.25rem;
    margin: 0 0 15px 0;
}

@media (min-width: 1200px) {
    .title_medium {
        --title-fs: 1.75rem;
        margin: 0 0 24px 0;
        gap: 24px;
    }
}

.autocomplete-suggestions {
    --autocomplete-clr: var(--color-04);
    padding: 8px var(--input-pi);
    overflow: auto;
    border: 1px solid var(--input-border-clr);
    border-radius: 0;
    background: var(--input-bg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestion {
    padding: 2px 0;
    overflow: hidden;
    cursor: pointer;
    font-size: var(--input-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--autocomplete-clr);
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .autocomplete-suggestion:hover {
        color: var(--input-clr);
    }
}

.autocomplete-suggestions strong {
    font-weight: 400;
    color: var(--input-clr);
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/*
<div class="autocomplete-suggestions">
    <div class="autocomplete-group"><strong>NHL</strong></div>
    <div class="autocomplete-suggestion autocomplete-selected">...</div>
    <div class="autocomplete-suggestion">...</div>
    <div class="autocomplete-suggestion">...</div>
</div>
*/
.offer {
    display: block;
}

.offer__wrapper {
    height: 100%;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-01);
    background: var(--color-06);
}

.offer__main {
    margin: 0 0 25px 0;
    display: grid;
    justify-items: center;
    gap: 10px;
}

.offer__logo {
    width: 100%;
    max-width: 280px;
    height: 90px;
    overflow: hidden;
}

.offer__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.offer__sum {
    display: block;
    font-family: "SoyuzGrotesk";
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: var(--color-01);
}

.offer__embed {
    padding: 5px 0.938em;
    display: block;
    font-size: 1rem;
    text-align: center;
    line-height: 1.313;
    color: var(--color-03);
    border-radius: 3.75em;
    border: 1px solid var(--color-03);
}

.offer__button {
    max-width: 21.25rem;
    margin: auto 0 0 0;
}

.insides {
    --gap: 10px;
}

@media (min-width: 576px) {
    .insides {
        background: var(--color-05);
    }
}

@media (min-width: 768px) {
    .insides {
        --gap: 15px;
    }
}

@media (min-width: 1200px) {
    .insides {
        --gap: 25px;
    }
}

@media (min-width: 576px) {
    .insides__container {
        max-width: 30rem;
    }
}

.insides__label {
    margin: 0 0 20px 0;
    display: block;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.2;
    color: var(--color-03);
}

.insides__inputs {
    display: grid;
    gap: 10px;
}

.insides__action {
    align-self: center;
    margin: 1.071em auto 0 auto;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.2;
    color: var(--color-09);
    background: none;
    outline: none;
    border: none;
}

.insides__action svg {
    flex: 0 0 1.286em;
    width: 1.286em;
    height: 1.286em;
    margin: 0 0.571em 0 0;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

@media (any-hover: hover) {
    .insides__action:hover {
        color: var(--color-01);
    }
}

.insides__submit {
    margin: 25px 0 0 0;
}

@media (min-width: 768px) {
    .insides__submit {
        margin: 35px 0 0 0;
    }
}

.insides-fullscreen {
    --_fullscreen: calc(var(--fullscreen) - var(--header-height));
    min-height: var(--_fullscreen);
    padding: 20px 0 70px;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .insides-fullscreen {
        padding: 70px 0;
    }
}

@media (min-width: 576px) {
    .insides-container {
        padding: 35px 20px;
        margin: 0 auto;
        border: 1px solid var(--color-01);
        background: var(--color-06);
    }
}

@media (min-width: 768px) {
    .insides-container {
        padding: 48px 35px;
    }
}

.contact-details {
    --gap: 10px;
}

@media (min-width: 576px) {
    .contact-details {
        background: var(--color-05);
    }
}

@media (min-width: 768px) {
    .contact-details {
        --gap: 15px;
    }
}

@media (min-width: 1200px) {
    .contact-details {
        --gap: 25px;
    }
}

.contact-details__container {
    max-width: 912px;
}

@media (max-width: 576px) {
    .contact-details__title h2,
  .contact-details__title h3,
  .contact-details__title h4 {
        text-align: left;
    }
}

.contact-details__form {
    display: grid;
    gap: var(--gap);
}

.contact-details__user {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--gap);
}

.contact-details__contacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--gap);
}

.contact-details__checkbox {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .contact-details__checkbox {
        padding: 0;
    }
}

.contact-details__submit {
    justify-self: center;
}

@media (min-width: 470px) {
    .contact-details__submit {
        max-width: 20.625rem;
    }
}

.passport-details {
    --gap: 10px;
}

@media (min-width: 576px) {
    .passport-details {
        background: var(--color-05);
    }
}

@media (min-width: 768px) {
    .passport-details {
        --gap: 24px;
    }
}

@media (min-width: 1200px) {
    .passport-details {
        padding: 100px 0 120px 0;
    }
}

.passport-details__container {
    max-width: 57rem;
}

.passport-details__form {
    display: grid;
    gap: 15px;
}

@media (min-width: 768px) {
    .passport-details__form {
        gap: var(--gap);
    }
}

.passport-details__group {
    display: grid;
    gap: var(--gap);
}

.passport-details__title {
    padding: 0 0 5px 0;
    margin: 0;
}

@media (max-width: 576px) {
    .passport-details__title h2,
  .passport-details__title h3,
  .passport-details__title h4 {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .passport-details__title {
        padding: 0;
    }
}

.passport-details__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
}

.passport-details__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: var(--gap);
}

.passport-details__submit {
    justify-self: center;
}

@media (min-width: 470px) {
    .passport-details__submit {
        max-width: 20.625rem;
    }
}

@media (min-width: 576px) {
    .data-check {
        background: var(--color-05);
    }
}

.data-check__container {
    max-width: 42.188rem;
    display: grid;
    gap: 35px;
}

.data-check__title {
    margin: 0;
}

.data-check__title p span {
    display: block;
}

.data-check__image {
    justify-self: center;
    max-width: 267px;
}

.data-check__button {
    justify-self: center;
    display: none;
}

.data-check__button.visible {
    display: flex;
}

@media (min-width: 470px) {
    .data-check__button {
        max-width: 20.625rem;
    }
}

.data-check__info {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 420px) {
    .data-check__info {
        grid-template-columns: minmax(250px, 400px);
    }
}

@media (min-width: 576px) {
    .data-check__info {
        gap: 15px;
    }
}

.data-check__label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.111em;
    color: var(--color-03);
}

@media (min-width: 768px) {
    .data-check__label {
        font-size: 1.125rem;
    }
}

.data-check__info-row {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 0.875rem;
    line-height: 1.111em;
    color: var(--color-03);
}

.data-check__info-row strong {
    font-weight: 600;
}

@media (min-width: 768px) {
    .data-check__info-row {
        font-size: 1.125rem;
    }
}

.data-check__group {
    display: grid;
    justify-items: center;
    gap: 15px;
}

.data-check__progressbar {
    width: 100%;
    height: 16px;
    max-width: 277px;
    border-radius: 60px;
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
    overflow: hidden;
    position: relative;
}

.data-check__progressbar::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: inherit;
    border: 1px solid var(--color-01);
}

@media (min-width: 576px) {
    .data-check__progressbar {
        max-width: none;
        height: 32px;
    }
}

.data-check__progress {
    border-radius: inherit;
    border: 1px solid var(--color-01);
    background: var(--color-07);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.1s linear;
}

.data-chekc__group-sublabel {
    display: block;
    font-size: 1.125rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.111em;
    color: var(--color-03);
}

.data-check__percent {
    display: block;
    font-size: clamp(64px, 3.077rem + 4.1vw, 128px);
    font-size: clamp(4rem, 3.077rem + 4.1vw, 8rem);
    font-style: normal;
    font-weight: 600;
    text-align: center;
    line-height: 0.75;
    color: var(--color-03);
}

.data-check__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (min-width: 576px) {
    .data-check__items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
}

.data-check__item {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.667;
    color: var(--color-01);
}

.data-check__item span {
    padding: 0 0.667em 0 0;
}

.data-check__item.checked .data-check__icon {
    animation: none;
}

.data-check__item.checked .data-check__icon .data-check__icon-loading {
    display: none;
}

.data-check__item.checked .data-check__icon .data-check__icon-loaded {
    display: block;
}

.data-check__icon {
    flex: 0 0 auto;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.data-check__icon-loading {
    width: 26px;
}

.data-check__icon-loaded {
    width: 24px;
    display: none;
}

.identification {
    --negetiv-mi: calc(var(--container-pi) - var(--container-pi) * 2);
    --gap: 10px;
}

@media (min-width: 576px) {
    .identification {
        background: var(--color-05);
    }
}

.identification__container {
    max-width: 535px;
}

.identification__form {
    display: flex;
    flex-direction: column;
}

.identification__form-body {
    padding: 30px var(--container-pi) var(--container-pi);
    margin: 0 var(--negetiv-mi) 15px var(--negetiv-mi);
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-01);
    border-bottom: 1px solid var(--color-01);
    background: var(--color-07);
}

@media (min-width: 576px) {
    .identification__form-body {
        margin: 0 0 25px 0;
        border: 1px solid var(--color-01);
    }
}

@media (min-width: 768px) {
    .identification__form-body {
        margin: 0 0 35px 0;
    }
}

.identification__items {
    margin: 0 0 35px 0;
    display: grid;
    gap: var(--gap);
}

.identification__row {
    display: grid;
    grid-template-columns: 1fr 7.5rem;
    gap: var(--gap);
}

@media (min-width: 768px) {
    .identification__row {
        grid-template-columns: 1fr 9.375rem;
    }
}

.identification__action {
    align-self: flex-start;
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-09);
    cursor: pointer;
}

@media (any-hover: hover) {
    .identification__action:hover {
        text-decoration: underline;
    }
}

@media (min-width: 470px) {
    .identification__submit {
        align-self: center;
        max-width: 20.625rem;
    }
}

@media (min-width: 768px) {
    .get-offers {
        background: var(--color-05);
    }
}

.get-offers__title {
    max-width: 36.25rem;
    padding: 0 0 35px 0;
    margin: 0 auto;
}

.get-offers__title .title {
    margin: 0;
}

@media (min-width: 576px) {
    .get-offers__title {
        padding: 25px 0;
    }
}

.get-offers__wrapper {
    padding: 35px 0 55px 0;
    border-top: 1px solid var(--color-01);
    background: var(--color-07);
}

@media (min-width: 768px) {
    .get-offers__wrapper {
        padding: 50px 0 60px 0;
    }
}

.get-offers__body {
    display: flex;
    flex-direction: column;
}

.get-offers__items {
    margin: 0 0 35px 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 25px;
}

@media (min-width: 470px) {
    .get-offers__items {
        grid-template-columns: minmax(280px, 330px);
    }
}

@media (min-width: 768px) {
    .get-offers__items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: normal;
        grid-auto-rows: 1fr;
    }
}

@media (min-width: 992px) {
    .get-offers__items {
        margin: 0 0 50px 0;
    }
}

@media (min-width: 470px) {
    .get-offers__more {
        align-self: center;
        max-width: 20.625rem;
    }
}

.signin {
    --negetiv-mi: calc(var(--container-pi) - var(--container-pi) * 2);
}

@media (min-width: 576px) {
    .signin {
        background: var(--color-05);
    }
}

@media (min-width: 1200px) {
    .signin {
        padding: 100px 0 120px 0;
    }
}

.signin__container {
    max-width: 32.188rem;
}

.signin__form {
    display: grid;
    gap: 35px;
}

.signin__title {
    margin: 0;
}

.signin__items {
    padding: 30px var(--container-pi);
    margin: 0 var(--negetiv-mi);
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-01);
    border-bottom: 1px solid var(--color-01);
    background: var(--color-07);
}

@media (min-width: 576px) {
    .signin__items {
        margin: 0;
        border: 1px solid var(--color-01);
    }
}

.signin__input {
    margin: 0 0 10px 0;
}

.signin__action {
    align-self: center;
    margin: 1.071em 0 0 0;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.2;
    color: var(--color-09);
    background: none;
    outline: none;
    border: none;
}

.signin__action svg {
    flex: 0 0 1.286em;
    width: 1.286em;
    height: 1.286em;
    margin: 0 0.571em 0 0;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

button.signin__action,
a.signin__action {
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    button.signin__action:hover,
  a.signin__action:hover {
        color: var(--color-01);
    }
}

.signin__submit {
    justify-self: center;
}

@media (min-width: 470px) {
    .signin__submit {
        max-width: 20.625rem;
    }
}

.popup-layout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--zIndex) + 1);
    background: rgba(64, 64, 64, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.popup-layout.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--zIndex) + 2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.popup.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup.active .popup__body {
    transform: scale(1);
}

.popup__wrapper {
    min-height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup__body {
    width: 100%;
    max-width: 35.625rem;
    padding: 25px;
    margin: 0 auto;
    display: grid;
    gap: 25px;
    border: 1px solid var(--color-01);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background: var(--color-06);
    position: relative;
    transform: scale(0.9);
    transition: transform 0.2s linear;
}

@media (min-width: 768px) {
    .popup__body {
        padding: 35px 25px;
    }
}

.popup__close {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.popup__close svg {
    flex: 0 0 18px;
    height: 18px;
    height: 18px;
    transform: rotate(45deg);
    fill: var(--color-01);
    transition: fill 0.15s linear;
}

@media (any-hover: hover) {
    .popup__close:hover svg {
        fill: var(--color-10);
    }
}

.popup__title {
    padding: 0 30px 0 0;
    margin: 0;
}

.popup__title h2,
.popup__title h3,
.popup__title h4 {
    text-align: left;
}

.popup__text {
    display: block;
    font-size: 1rem;
    line-height: 1.313;
    color: var(--color-03);
}

.popup__text a {
    color: var(--color-15);
}

@media (any-hover: hover) {
    .popup__text a:hover {
        text-decoration: underline;
    }
}

.popup__actions {
    display: grid;
    justify-items: center;
    gap: 15px;
}

.popup__button {
    width: 100%;
    max-width: 20.625rem;
}

.popup__cancel {
    display: block;
    font-size: 1rem;
    text-align: center;
    line-height: 1.313;
    color: var(--color-09);
    cursor: pointer;
}

@media (any-hover: hover) {
    .popup__cancel:hover {
        text-decoration: underline;
    }
}