@charset "UTF-8";

:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1165px;
    --container-pi: 15px;
    --header-height: 45px;
    --color-01: #000000;
    --color-02: #262626;
    --color-03: #404040;
    --color-04: #a5a5a5;
    --color-05: #f6f6f6;
    --color-06: #ffffff;
    --color-07: #ebff00;
    --color-08: #f9fc6a;
    --color-09: #483cd6;
    --color-10: #d20000;
    --color-11: #5c5c5c;
    --color-12: #b1b1b1;
    --color-13: #626262;
    --color-14: #e0e0e0;
    --color-15: #270f69;
    --color-16: #383838;
    --color-17: #696969;
    --header-mobile-bg: rgba(255, 255, 255, 0.85);
    --zIndex: 999;
}

@media (min-width: 768px) {
    :root {
        --header-height: 65px;
    }
}

@media (min-width: 992px) {
    :root {
        --header-height: 80px;
    }
}

@media (min-width: 1200px) {
    :root {
        --header-height: 115px;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-UltraLight.woff") format("woff"), url("../fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SoyuzGrotesk";
  font-style: normal;
  font-weight: 700;
  src: local("SoyuzGrotesk"), local("SoyuzGrotesk"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.woff2") format("woff2"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.woff") format("woff"), url("../fonts/soyuz-grotesk/Soyuz-Grotesk-Bold.ttf") format("truetype");
}
/*
  Имена шрифтов:

  Gilroy
  Montserrat
  Roboto
  SoyuzGrotesk
*/
body {
    font-family: "Gilroy";
    font-size: 1.125rem;
    line-height: normal;
    font-weight: 400;
    color: var(--color-01);
    background-color: var(--color-06);
}

body.no-scroll {
    overflow: hidden;
}

.shadow {
    box-shadow: 4px 4px 0px 0px var(--color-01);
    transition-property: box-shadow, background, border, color, transform;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

@media (any-hover: hover) {
    .shadow:not(.shadow_no-hover):hover {
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

.button {
    --button-height: 54px;
    --button-padding: 10px;
    --button-fs: 28px;
    --button-clr: var(--color-01);
    --button-bg: var(--color-06);
    --button-border-clr: var(--color-01);
    width: 100%;
    min-height: var(--button-height);
    padding: var(--button-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SoyuzGrotesk";
    font-size: var(--button-fs);
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--button-clr);
    cursor: pointer;
    border: 1px solid var(--button-border-clr);
    background: var(--button-bg);
    box-shadow: 4px 4px 0px 0px var(--color-01);
    transition-property: box-shadow, background, border, color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    outline: none;
}

@media (any-hover: hover) {
    .button:hover {
        --button-bg: var(--color-04);
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

.button_secondary {
    --button-bg: var(--color-07);
}

@media (any-hover: hover) {
    .button_secondary:hover {
        --button-bg: var(--color-08);
    }
}

.button_icon {
    position: relative;
}

.button_icon::after {
    content: "";
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    top: 24px;
    right: 4px;
    border-radius: 50%;
    background-image: url("../images/UI/button/icon_01.svg");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 992px) {
    .wrapper {
        padding: var(--header-height) 0 0 0;
    }
}

.container {
    --_max-width-container: var(--max-width-container, 1200px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    width: 100%;
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

@media (max-width: 992px) {
    .header {
        display: none;
    }
}

.header__body {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
}

.header__logo {
    flex: 0 1 190px;
    min-width: 136px;
    margin: 0 auto 0 0;
    display: block;
}

.header__logo-icon {
    display: block;
}

.header__logo-icon img {
    width: 100%;
}

.header__nav {
    --_offset-right: 15px;
    padding: 0 var(--_offset-right) 0 0;
    margin: 0 var(--_offset-right);
    display: flex;
    flex-wrap: wrap;
    gap: 10px var(--_offset-right);
    border-right: 1px solid var(--color-03);
}

.header__nav a,
.header__nav span {
    display: block;
    cursor: pointer;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
    color: var(--color-03);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: color 0.15s linear, border 0.15s linear;
}

@media (any-hover: hover) {
    .header__nav a:hover,
  .header__nav span:hover {
        color: var(--color-01);
        border-bottom-color: currentColor;
    }
}

@media (min-width: 1200px) {
    .header__nav {
        --_offset-right: 24px;
    }

    .header__nav a,
  .header__nav span {
        font-size: 1rem;
    }
}

.header__button {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}

.header-mobile.active .header-mobile__head {
    background: var(--color-07);
}

.header-mobile.active .header-mobile__menu-button {
    box-shadow: 0px 0px 0px 0px var(--color-01);
}

.header-mobile.active .header-mobile__menu-button .header-mobile__icon-close {
    opacity: 1;
    visibility: visible;
}

.header-mobile.active .header-mobile__menu-button .header-mobile__icon-menu {
    opacity: 0;
    visibility: hidden;
}

.header-mobile.active .header-mobile__logo .header-mobile__logo-icon-active {
    opacity: 1;
    visibility: visible;
}

.header-mobile.active .header-mobile__logo .header-mobile__logo-icon {
    opacity: 0;
    visibility: hidden;
}

.header-mobile.active .header-mobile__body {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
}

.header-mobile__head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--zIndex);
    background: var(--header-mobile-bg);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: background 0.2s linear, -webkit-backdrop-filter 0.2s linear;
    transition: background 0.2s linear, backdrop-filter 0.2s linear;
    transition: background 0.2s linear, backdrop-filter 0.2s linear, -webkit-backdrop-filter 0.2s linear;
}

.header-mobile__row {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header-mobile__button,
.header-mobile__menu-button {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    background-color: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

.header-mobile__menu-button {
    display: block;
    position: relative;
}

.header-mobile__icon-close,
.header-mobile__icon-menu {
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.header-mobile__icon-close {
    opacity: 0;
    visibility: hidden;
}

.header-mobile__logo {
    flex: 0 1 136px;
    display: block;
    position: relative;
}

.header-mobile__logo img {
    width: 100%;
}

@media (min-width: 576px) {
    .header-mobile__logo {
        flex: 0 1 155px;
    }
}

.header-mobile__logo-icon,
.header-mobile__logo-icon-active {
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.header-mobile__logo-icon-active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.header-mobile__body {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    bottom: 0;
    z-index: calc(var(--zIndex) - 1);
    background: var(--color-07);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.2s;
}

.header-mobile__body .container {
    height: 100%;
}

.header-mobile__body-container {
    height: 100%;
    padding: 25px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-mobile__actions {
    width: 100%;
    margin: 0 0 16px 0;
    overflow: auto;
    display: grid;
    gap: 16px;
}

.header-mobile__action,
.header-mobile__link {
    display: block;
    cursor: pointer;
    font-family: "SoyuzGrotesk";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
}

.header-mobile__action.active[data-tab-button],
.header-mobile__link.active[data-tab-button] {
    color: var(--color-17);
}

.header-mobile__action {
    color: var(--color-01);
    transition: color 0.15s linear, border 0.15s linear;
}

.header-mobile__image {
    width: 100%;
    max-width: 150px;
    margin: 0 0 25px 0;
}

.header-mobile__image img {
    width: 100%;
}

.header-mobile__link {
    margin: auto 0 0 0;
    color: var(--color-03);
}

.footer {
    padding: 50px 0;
    background: var(--color-02);
}

@media (min-width: 1200px) {
    .footer {
        padding: 60px 0 70px 0;
    }
}

.footer__wrapper {
    display: grid;
    justify-items: center;
    gap: 35px;
}

.footer__logo {
    width: 100%;
    max-width: 135px;
    display: block;
}

.footer__logo img {
    width: 100%;
}

@media (min-width: 576px) {
    .footer__logo {
        max-width: 190px;
    }
}

.footer__text {
    display: block;
    font-size: 0.875rem;
    text-align: justify;
    color: var(--color-06);
}

.footer__text a {
    color: var(--color-07);
}

@media (any-hover: hover) {
    .footer__text a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 992px) {
    .footer__text {
        text-align: left;
    }
}

.footer__items {
    width: 100%;
}

.footer__label {
    margin: 0 0 15px 0;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-07);
}

.footer__item {
    padding: 0 0 0 1.143em;
    display: block;
    font-size: 0.875rem;
    color: var(--color-06);
    position: relative;
}

.footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}

.footer__item::before {
    content: "";
    width: 0.286em;
    height: 0.286em;
    display: block;
    border-radius: 50%;
    background: currentColor;
    position: absolute;
    top: 0.429em;
    left: 0.429em;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px 25px;
}

@media (min-width: 768px) {
    .footer__contacts {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.footer__contact {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-07);
    cursor: pointer;
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .footer__contact:hover {
        color: var(--color-06);
    }
}

.footer__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px) {
    .footer__actions {
        width: auto;
    }
}

.footer__action {
    display: block;
    font-size: 0.875rem;
    line-height: 1.333;
    text-align: center;
    color: var(--color-12);
    cursor: pointer;
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .footer__action:hover {
        color: var(--color-06);
    }
}

.footer__action-divide {
    width: 1px;
    height: 15px;
    margin: 0 10px;
    display: block;
    background: var(--color-13);
}

@media (min-width: 500px) {
    .footer__action-divide {
        margin: 0 20px;
    }
}

/*
<div class="inputs">
...

  <div class="inputs__label">
    <span>Просто текст</span>
  </div>
  <div class="inputs__label-error">
    <span>Текст с ошибкой</span>
  </div>
</div>
*/
.inputs {
    --input-fs: 18px;
    --input-height: 42px;
    --input-border-clr: var(--color-03);
    --input-pi: 15px;
    --input-clr: var(--color-01);
    --input-bg: var(--color-06);
    --input-placeholder-clr: var(--color-04);
    --input-error-label-fs: 16px;
    --input-error-clr: var(--color-10);
}

.inputs.error {
    --input-border-clr: var(--input-error-clr);
}

.inputs.error .inputs__label-error {
    display: block;
}

.inputs__label,
.inputs__label-error {
    font-size: var(--input-error-label-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.inputs__label span,
.inputs__label-error span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.inputs__label {
    color: var(--input-clr);
}

.inputs__label-error {
    display: none;
    color: var(--input-error-clr);
}

/*
<div class="inputs input">
  <div class="input__wrapper">
    <div class="input__group">
      <input
        class="input__target"
        type="text"
        placeholder="Ввадите фамилию"
        data-autocomplete
      />
    </div>

    <div class="inputs__label">
      <span>Просто текст</span>
    </div>
    <div class="inputs__label-error">
      <span>Для получения договора и документов об оплате</span>
    </div>
  </div>
</div>
*/
.input__target {
    width: 100%;
    height: var(--input-height);
    padding: 0 var(--input-pi);
    display: block;
    font-size: var(--input-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--input-clr);
    border: 1px solid var(--input-border-clr);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

.input__target::-moz-placeholder {
    color: var(--input-clr);
    -moz-transition: color 0.15s linear;
    transition: color 0.15s linear;
}

.input__target::placeholder {
    color: var(--input-clr);
    transition: color 0.15s linear;
}

.input__target:focus::-moz-placeholder {
    color: var(--input-placeholder-clr);
}

.input__target:focus::placeholder {
    color: var(--input-placeholder-clr);
}

/*
<div class="inputs select">
  <div class="select__wrapper">
    <div class="select__body">
      <select class="js-example-basic-single" name="state" data-select>
        <option value="Москва">Москва</option>
        <option value="Санкт-Петербург">Санкт-Петербург</option>
        <option value="Екатеренбург">Екатеренбург</option>
      </select>

      <div class="select__icon">
        <svg>
          <use
            href="../images/sprite.svg#plus"
            xlink:href="../images/sprite.svg#plus"
          ></use>
        </svg>
      </div>
    </div>

    <div class="inputs__label">
      <span>Просто текст</span>
    </div>
    <div class="inputs__label-error">
      <span>Для получения договора и документов об оплате</span>
    </div>
  </div>
</div>

*/
.select {
    --select-icon-size: 19px;
    --select-icon-svg-size: 11px;
    --select-icon-right: var(--input-pi);
    --select-icon-clr: var(--input-clr);
}

.select.error .select2 .select2-selection--single .select2-selection__rendered {
    --input-border-clr: var(--input-error-clr);
}

.select__body {
    position: relative;
}

.select__icon {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--select-icon-size);
    border-radius: 50%;
    background: var(--color-14);
    position: absolute;
    top: calc(50% - var(--select-icon-size) / 2);
    right: var(--select-icon-right);
    pointer-events: none;
}

.select__icon svg {
    flex: 0 0 var(--select-icon-svg-size);
    width: var(--select-icon-svg-size);
    height: var(--select-icon-svg-size);
    display: block;
    fill: var(--select-icon-clr);
    transition: transform 0.15s linear;
}

.select .select2 {
    display: block;
}

.select .select2.select2-container--open + .select__icon svg {
    transform: rotate(45deg);
}

.select .select2 .select2-selection--single {
    height: auto;
    background: none;
    border-radius: 0 !important;
    border: none;
}

.select .select2 .select2-selection--single .select2-selection__rendered {
    padding: 0 calc(var(--select-icon-size) + var(--select-icon-right) + 10px) 0 var(--input-pi);
    font-size: var(--input-fs);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--input-height) - 2px);
    color: var(--input-clr);
    border: 1px solid var(--input-border-clr);
    border-radius: 0 !important;
    background: var(--input-bg);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    white-space: normal;
    transition: color 0.2s linear, border 0.2s linear;
}

.select .select2 .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-dropdown.select__dropdown {
    --select-option-clr: var(--color-04);
    --select-option-clr-hover: var(--color-01);
    padding: 8px var(--input-pi);
    border-radius: 0 !important;
    border: 1px solid var(--input-border-clr) !important;
    overflow: hidden;
    z-index: calc(var(--zIndex) - 1);
    background: var(--input-bg);
}

.select2-dropdown.select__dropdown.select2-dropdown--below {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.select2-dropdown.select__dropdown.select2-dropdown--above {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
}

.select__dropdown .select2-search.select2-search--dropdown {
    display: none;
}

.select2-dropdown.select__dropdown .select2-results__option.select2-results__option--selectable {
    padding: 2px 0;
    font-size: var(--input-fs);
    font-weight: 400;
    line-height: 1.2;
    color: var(--select-option-clr);
    background: none !important;
    transition: color 0.15s linear;
}

.select2-dropdown.select__dropdown .select2-results__option.select2-results__option--selectable.select2-results__option--selected {
    color: var(--select-option-clr-hover);
}

@media (any-hover: hover) {
    .select2-dropdown.select__dropdown .select2-results__option.select2-results__option--selectable:hover {
        color: var(--select-option-clr-hover);
    }
}

/*
<div class="checkbox">
  <div class="checkbox__wrapper">
    <label class="checkbox__label">
      <input class="checkbox__input" type="checkbox" />
      <div class="checkbox__icon">
        <img src="../images/UI/checkbox/icon_01.svg" alt="icon" />
      </div>
      <p class="checkbox__text">
        Я ознакомлен и согласен со <span>следующим</span>
      </p>
    </label>
  </div>
</div>
*/
.checkbox {
    --checkbox-fs: 1rem;
    --chekcbox-icon-size: 25px;
    --checkbox-icon-img-size: 17px;
}

.checkbox__wrapper {
    display: flex;
}

.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (any-hover: hover) {
    .checkbox__label:hover .checkbox__icon {
        background: var(--color-08);
    }
}

.checkbox__input {
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: -999;
    opacity: 0;
    visibility: hidden;
}

.checkbox__input:checked + .checkbox__icon {
    background: var(--color-06);
}

.checkbox__input:checked + .checkbox__icon img {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.checkbox__icon {
    flex: 0 0 var(--chekcbox-icon-size);
    width: var(--chekcbox-icon-size);
    height: var(--chekcbox-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-09);
    background: var(--color-06);
    transition: background 0.3s linear;
}

.checkbox__icon img {
    flex: 0 0 var(--checkbox-icon-img-size);
    width: var(--checkbox-icon-img-size);
    height: var(--checkbox-icon-img-size);
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.2s;
}

.checkbox__text {
    padding: 0 0 0 0.438em;
    display: block;
    font-size: var(--checkbox-fs);
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    color: var(--color-03);
}

.checkbox__text span {
    color: var(--color-09);
}

@media (any-hover: hover) {
    .checkbox__text span:hover {
        text-decoration: underline;
    }
}

/*
<div class="inputs radio">
  <div class="radio__wrapper">
    <span class="radio__label">Ваш пол</span>

    <div class="radio__actions">
      <label class="radio__action">
        <input class="radio__input" name="sex" type="radio" value="male" />
        <span class="radio__button">мужской</span>
      </label>

      <label class="radio__action">
        <input class="radio__input" name="sex" type="radio" value="female" />
        <span class="radio__button">женский</span>
      </label>
    </div>
  </div>
</div>
*/
.radio {
    --radio-label-fs: var(--input-fs);
    --radio-button-fs: var(--input-fs);
    --radio-bg: var(--color-06);
    --radio-bg-hover: var(--color-08);
    --radio-bg-active: var(--color-07);
}

.radio__label {
    margin: 0 0 5px 0;
    display: block;
    font-size: var(--radio-label-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--input-clr);
}

.radio__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.radio__action {
    display: block;
}

.radio__input {
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: -999;
    opacity: 0;
    visibility: hidden;
}

.radio__input:checked + .radio__button {
    background: var(--radio-bg-active);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

.radio__button {
    min-width: 6.5em;
    height: 1.75em;
    padding: 0 0.938em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SoyuzGrotesk";
    font-size: var(--radio-button-fs);
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    color: var(--input-clr);
    cursor: pointer;
    background: var(--radio-bg);
    transition: background 0.15s linear, box-shadow 0.15s linear;
    border-radius: 3.75em;
    border: 1px solid var(--input-border-clr);
    box-shadow: 2px 2px 0px 0px var(--color-01);
}

@media (any-hover: hover) {
    .radio__button:hover {
        background: var(--radio-bg-hover);
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

/*
<div class="inputs textarea">
  <div class="textarea__wrapper">
    <div class="textarea__group">
      <textarea class="textarea__target" placeholder="Комментарий"></textarea>
    </div>

    <div class="inputs__label">
      <span>Просто текст</span>
    </div>
    <div class="inputs__label-error">
      <span>Для получения договора и документов об оплате</span>
    </div>
  </div>
</div>
*/
.textarea__target {
    width: 100%;
    height: 6.667em;
    padding: 0.556em var(--input-pi);
    display: block;
    font-size: var(--input-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--input-clr);
    border: 1px solid var(--input-border-clr);
    resize: none;
}

.textarea__target::-moz-placeholder {
    color: var(--input-clr);
    -moz-transition: color 0.15s linear;
    transition: color 0.15s linear;
}

.textarea__target::placeholder {
    color: var(--input-clr);
    transition: color 0.15s linear;
}

.textarea__target:focus::-moz-placeholder {
    color: var(--input-placeholder-clr);
}

.textarea__target:focus::placeholder {
    color: var(--input-placeholder-clr);
}

.autocomplete-suggestions {
    --autocomplete-clr: var(--color-04);
    padding: 8px var(--input-pi);
    overflow: auto;
    border: 1px solid var(--input-border-clr);
    border-radius: 0;
    background: var(--input-bg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestion {
    padding: 2px 0;
    overflow: hidden;
    cursor: pointer;
    font-size: var(--input-fs);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--autocomplete-clr);
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .autocomplete-suggestion:hover {
        color: var(--input-clr);
    }
}

.autocomplete-suggestions strong {
    font-weight: 400;
    color: var(--input-clr);
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/*
<div class="autocomplete-suggestions">
    <div class="autocomplete-group"><strong>NHL</strong></div>
    <div class="autocomplete-suggestion autocomplete-selected">...</div>
    <div class="autocomplete-suggestion">...</div>
    <div class="autocomplete-suggestion">...</div>
</div>
*/
.offer {
    display: block;
}

.offer__wrapper {
    height: 100%;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-01);
    background: var(--color-06);
}

.offer__main {
    margin: 0 0 25px 0;
    display: grid;
    justify-items: center;
    gap: 10px;
}

.offer__logo {
    width: 100%;
    max-width: 280px;
    height: 90px;
    overflow: hidden;
}

.offer__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.offer__sum {
    display: block;
    font-family: "SoyuzGrotesk";
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: var(--color-01);
}

.offer__embed {
    padding: 5px 0.938em;
    display: block;
    font-size: 1rem;
    text-align: center;
    line-height: 1.313;
    color: var(--color-03);
    border-radius: 3.75em;
    border: 1px solid var(--color-03);
}

.offer__button {
    max-width: 21.25rem;
    margin: auto 0 0 0;
}

.profile {
    --profile-pb: 60px;
}

@media (min-width: 992px) {
    .profile__wrapper {
        min-height: var(--fullscreen);
        display: grid;
        grid-template-columns: 290px 1fr;
    }
}

@media (min-width: 1200px) {
    .profile__wrapper {
        grid-template-columns: 360px 1fr;
    }
}

.profile__sidebar {
    display: none;
}

@media (min-width: 992px) {
    .profile__sidebar {
        display: block;
    }
}

.profile__body {
    padding: 5px var(--container-pi) var(--profile-pb);
}

@media (min-width: 576px) {
    .profile__body {
        padding: 10px var(--container-pi) var(--profile-pb);
    }
}

@media (min-width: 992px) {
    .profile__body {
        padding: 40px 25px;
        background: var(--color-05);
    }
}

@media (min-width: 1600px) {
    .profile__body {
        padding: 40px 50px;
    }
}

.profile__title {
    margin: 0 0 25px 0;
}

.profile__title h3 {
    display: block;
    font-family: "SoyuzGrotesk";
    font-size: 1.563rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: var(--color-01);
}

.profile__title p {
    max-width: 35.556em;
    padding: 0.625em 0 0 0;
    margin: 0 auto;
    display: block;
    font-size: 1rem;
    text-align: center;
    line-height: 1.333;
    color: var(--color-03);
}

@media (min-width: 576px) {
    .profile__title h3 {
        font-size: 1.875rem;
    }
}

@media (min-width: 768px) {
    .profile__title h3 {
        font-size: 2.188rem;
    }
}

@media (min-width: 992px) {
    .profile__title h3 {
        text-align: left;
    }

    .profile__title p {
        padding: 1.333em 0 0 0;
        margin: 0;
        font-size: 1.125rem;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .profile__title {
        margin: 0 0 35px 0;
    }
}

.profile-sidebar__wrapper {
    height: 100%;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--color-01);
    background: var(--color-07);
}

@media (min-width: 1200px) {
    .profile-sidebar__wrapper {
        padding: 40px;
    }
}

.profile-sidebar__logo,
.profile-sidebar__actions,
.profile-sidebar__button {
    margin: 0 0 30px 0;
}

@media (min-width: 1200px) {
    .profile-sidebar__logo,
  .profile-sidebar__actions,
  .profile-sidebar__button {
        margin: 0 0 48px 0;
    }
}

.profile-sidebar__logo {
    width: 100%;
    max-width: 190px;
}

.profile-sidebar__logo img {
    width: 100%;
}

.profile-sidebar__actions {
    width: 100%;
    display: grid;
    gap: 5px;
}

.profile-sidebar__action {
    padding: 0.75em 0;
    display: block;
    font-size: 0.875rem;
    color: var(--color-02);
    cursor: pointer;
    transition: background 0.2s linear, padding 0.2s linear;
}

@media (any-hover: hover) {
    .profile-sidebar__action:hover {
        padding: 0.75em 10px;
        background: var(--color-06);
    }
}

.profile-sidebar__action.active {
    padding: 0.75em 15px;
    font-weight: 600;
    background: var(--color-06);
}

@media (min-width: 1200px) {
    .profile-sidebar__action {
        font-size: 1rem;
    }
}

.profile-sidebar__icons {
    margin: auto 0 0 0;
    width: 100%;
    max-width: 150px;
}

.profile-sidebar__icons img {
    width: 100%;
}

.profile-sidebar__button.active {
    --button-clr: var(--color-06);
    --button-bg: var(--color-03);
}

.scoring.active .scoring__wrapper {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.scoring__wrapper {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.35s;
}

.scoring__statistics {
    padding: 15px;
    margin: 0 0 25px 0;
    border: 1px solid var(--color-01);
    background: var(--color-06);
}

@media (min-width: 576px) {
    .scoring__statistics {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .scoring__statistics {
        padding: 25px;
        margin: 0 0 50px 0;
    }
}

.scoring__image {
    max-width: 160px;
    margin: 0 auto 25px auto;
}

.scoring__image img {
    width: 100%;
}

@media (min-width: 576px) {
    .scoring__image {
        flex: 0 1 240px;
        min-width: 160px;
        max-width: 240px;
        margin: 0 20px 0 0;
    }
}

@media (min-width: 1200px) {
    .scoring__image {
        margin: 0 35px 0 0;
    }
}

.scoring__info {
    flex: 0 1 33.75rem;
    display: flex;
    flex-direction: column;
}

.scoring__info .scoring__list {
    flex: 1 1 auto;
}

.scoring__label {
    margin: 0 0 25px 0;
    display: block;
    font-size: 0.938rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.222;
    color: var(--color-16);
}

@media (min-width: 576px) {
    .scoring__label {
        font-size: 1rem;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .scoring__label {
        font-size: 1.125rem;
    }
}

.scoring__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 1.25;
    color: var(--color-01);
}

.scoring__list li {
    display: flex;
}

.scoring__list li:not(:last-child) {
    margin: 0 0 5px 0;
}

.scoring__list svg {
    flex: 0 0 1.5em;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.938em 0 0;
    display: block;
    fill: transparent;
    stroke: var(--color-09);
    stroke-width: 2;
    stroke-linecap: square;
    stroke-linejoin: round;
}

.scoring__list span {
    padding: 0.125em 0 0 0;
}

@media (min-width: 1200px) {
    .scoring__list {
        font-size: 1rem;
    }
}

.scoring__gradation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

@media (min-width: 550px) {
    .scoring__gradation {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .scoring__gradation {
        gap: 25px;
    }
}

.scoring__gradation-item {
    padding: 15px;
    display: grid;
    gap: 15px;
    justify-items: center;
    align-content: start;
    border: 1px solid var(--color-01);
    background: var(--color-07);
}

.scoring__gradation-item .scoring__label {
    margin: 0;
    text-align: center;
}

.scoring__point {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: var(--color-01);
}

@media (min-width: 768px) {
    .scoring__point {
        font-size: 2.25rem;
    }
}

.scoring__description {
    display: block;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.25;
    color: var(--color-03);
}

@media (min-width: 576px) {
    .scoring__description {
        max-width: 31.25em;
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .scoring__description {
        font-size: 1rem;
    }
}

.profile-settings.active .profile-settings__wrapper {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media (min-width: 768px) {
    .profile-settings .inputs {
        --input-height: 56px;
    }
}

.profile-settings__wrapper {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.35s;
}

.profile-settings__items {
    margin: 0 0 35px 0;
    display: grid;
    grid-template-columns: minmax(270px, 400px);
    justify-content: center;
    gap: 35px;
}

@media (min-width: 576px) {
    .profile-settings__items {
        grid-template-columns: repeat(2, 1fr);
        justify-content: normal;
        gap: 10px;
    }
}

@media (min-width: 768px) {
    .profile-settings__items {
        margin: 0 0 25px 0;
        gap: 25px;
    }
}

.profile-settings__item {
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
    .profile-settings__item {
        padding: 15px;
        border: 1px solid var(--color-01);
        background: var(--color-06);
        transition: background 0.2s linear, border 0.2s linear;
    }

    .profile-settings__item.active, .profile-settings__item_no-bg {
        background: transparent;
        border-color: transparent;
    }
}

@media (min-width: 1200px) {
    .profile-settings__item {
        padding: 25px;
    }
}

.profile-settings__head {
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-settings__label {
    padding: 0 15px 0 0;
    display: block;
    font-family: "SoyuzGrotesk";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: var(--color-01);
}

@media (min-width: 1200px) {
    .profile-settings__label {
        font-size: 1.5rem;
    }
}

.profile-settings__button-edit {
    flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    cursor: pointer;
}

.profile-settings__button-edit svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--color-07);
    stroke: var(--color-01);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: fill 0.2s linear;
}

@media (any-hover: hover) {
    .profile-settings__button-edit:hover svg {
        fill: var(--color-06);
    }
}

.profile-settings__current,
.profile-settings__edit {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.3s;
}

.profile-settings__current.active,
.profile-settings__edit.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.profile-settings__current {
    display: grid;
    gap: 15px;
}

.profile-settings__group span {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-17);
}

.profile-settings__group strong {
    display: block;
    font-size: 1rem;
    line-height: 1.333;
    color: var(--color-01);
}

@media (min-width: 1200px) {
    .profile-settings__group strong {
        font-size: 1.125rem;
    }
}

.profile-settings__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

.profile-settings__edit {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.profile-settings__edit .profile-settings__row {
    gap: 10px;
}

.profile-settings__edit .input,
.profile-settings__edit .select,
.profile-settings__edit .radio {
    margin: 0 0 10px 0;
}

@media (min-width: 450px) {
    .profile-settings__submit {
        max-width: 20.625rem;
    }
}

@media (min-width: 576px) {
    .profile-settings__submit {
        margin: auto 0 0 0;
    }
}

.profile-socials__title {
    margin: 0 0 15px 0;
    display: block;
    font-family: "SoyuzGrotesk";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    color: var(--color-01);
}

@media (min-width: 1200px) {
    .profile-socials__title {
        font-size: 1.5rem;
    }
}

.profile-socials__items {
    display: grid;
    gap: 15px;
}

@media (min-width: 576px) {
    .profile-socials__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .profile-socials__items {
        gap: 25px;
    }
}

.profile-socials__item {
    display: flex;
    align-items: center;
}

.profile-socials__logo {
    flex: 0 0 35px;
    width: 35px;
    height: 35px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-01);
    background: var(--color-07);
}

.profile-socials__logo img {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

.profile-socials__name {
    margin: 0 15px 0 0;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-01);
}

.profile-socials__del {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.profile-socials__del svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--color-03);
    stroke-width: 1.5;
    stroke-linecap: square;
    transition: stroke 0.2s linear;
}

@media (any-hover: hover) {
    .profile-socials__del:hover svg {
        stroke: var(--color-10);
    }
}

.events.active .events__wrapper {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.events__wrapper {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.35s;
}

.events__items {
    margin: 0 0 25px 0;
    display: grid;
    gap: 10px;
}

@media (min-width: 768px) {
    .events__items {
        margin: 0 0 35px 0;
    }
}

.events__item {
    min-height: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--color-01);
    background: var(--color-06);
    transition: background 0.2s linear;
}

.events__item.new {
    background: var(--color-07);
}

.events__item.new .events__label {
    padding: 0 1.25rem 0 0;
}

.events__item.new .events__label::before {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.events__label {
    margin: 0 0 10px 0;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.1;
    color: var(--color-16);
    position: relative;
}

.events__label::before {
    content: "";
    width: 0.625rem;
    height: 0.625rem;
    display: block;
    border-radius: 50%;
    background: var(--color-01);
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.2s;
}

@media (min-width: 576px) {
    .events__label {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .events__label {
        font-size: 1.125rem;
    }
}

.events__date {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.143;
    color: var(--color-17);
}

@media (min-width: 500px) {
    .events__more {
        max-width: 20.625rem;
    }
}

.subscription.active .subscription__wrapper {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.subscription__wrapper {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.35s;
}

.subscription__body {
    display: grid;
    grid-template-columns: minmax(300px, 450px);
    justify-content: center;
    gap: 35px 25px;
}

@media (min-width: 768px) {
    .subscription__body {
        justify-content: normal;
        grid-template-columns: repeat(2, 1fr);
    }
}

.subscription__current {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border: 1px solid var(--color-01);
    background: var(--color-06);
}

@media (min-width: 1200px) {
    .subscription__current {
        padding: 25px;
    }
}

.subscription__price {
    display: block;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    color: var(--color-01);
}

.subscription__label {
    display: block;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.222;
    color: var(--color-16);
}

@media (min-width: 768px) {
    .subscription__label {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .subscription__label {
        font-size: 1.125rem;
    }
}

.subscription__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 15px;
    font-size: 0.75rem;
    line-height: 1.25;
    color: var(--color-01);
}

.subscription__list li {
    display: flex;
    align-items: center;
}

.subscription__list li:not(:last-child) {
    margin: 0 0 5px 0;
}

.subscription__list svg {
    flex: 0 0 1.5em;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.938em 0 0;
    display: block;
    fill: transparent;
    stroke: var(--color-09);
    stroke-width: 2;
    stroke-linecap: square;
    stroke-linejoin: round;
}

@media (min-width: 576px) {
    .subscription__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .subscription__list {
        font-size: 1rem;
    }
}

.subscription__cancel {
    margin: auto 0 0 0;
}

@media (min-width: 500px) {
    .subscription__cancel {
        max-width: 20.625rem;
    }
}

.subscription__info .subscription__label {
    margin: 0 0 10px 0;
    text-align: left;
    color: var(--color-01);
}

@media (min-width: 768px) {
    .subscription__info .subscription__label {
        margin: 0 0 15px 0;
    }
}

@media (min-width: 1200px) {
    .subscription__info .subscription__label {
        margin: 0 0 25px 0;
    }
}

.subscription__description {
    display: block;
    font-size: 1rem;
    line-height: 1.25;
    color: var(--color-03);
}

.newsletter.active .newsletter__wrapper {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.newsletter__wrapper {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.35s;
}

.newsletter__items {
    display: grid;
    gap: 25px;
}

@media (min-width: 768px) {
    .newsletter__items {
        gap: 35px;
    }
}

.newsletter__item {
    display: flex;
}

.newsletter__main {
    padding: 0 15px 0 0;
}

@media (min-width: 768px) {
    .newsletter__main {
        padding: 0 35px 0 0;
    }
}

.newsletter__label {
    margin: 0 0 10px 0;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.111;
    color: var(--color-01);
}

@media (min-width: 768px) {
    .newsletter__label {
        font-size: 1.125rem;
    }
}

.newsletter__text {
    font-size: 0.75rem;
    line-height: 1.25;
    color: var(--color-03);
}

@media (min-width: 768px) {
    .newsletter__text {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .newsletter__checkbox .checkbox {
        --chekcbox-icon-size: 28px;
        --checkbox-icon-img-size: 20px;
    }

    .newsletter__checkbox .checkbox__input:checked + .checkbox__icon {
        background: transparent;
    }

    .newsletter__checkbox .checkbox__icon {
        background: transparent;
    }
}

.documents.active .documents__wrapper {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.documents__wrapper {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.35s;
}

.documents__item {
    padding: 15px 15px 0 15px;
    border: 1px solid var(--color-01);
    background: var(--color-06);
}

.documents__item:not(:last-child) {
    margin: 0 0 15px 0;
}

.documents__head {
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: column;
}

.documents__head .documents__date {
    order: -1;
    margin: 0 0 15px 0;
}

@media (min-width: 768px) {
    .documents__head {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .documents__head .documents__date {
        order: 0;
        margin: 0;
    }
}

.documents__label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.222;
    color: var(--color-16);
}

@media (min-width: 768px) {
    .documents__label {
        font-size: 1.125rem;
        text-align: left;
    }
}

.documents__date {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 1.143;
    color: var(--color-17);
}

.documents__date span:first-child {
    margin: 0 15px 0 0;
}

@media (min-width: 768px) {
    .documents__date {
        flex: 0 0 auto;
        justify-content: normal;
        font-size: 0.875rem;
    }
}

.documents__row {
    margin: 0 0 10px 0;
}

@media (min-width: 768px) {
    .documents__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }
}

.documents__price {
    margin: 0 0 15px 0;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: var(--color-01);
}

@media (min-width: 768px) {
    .documents__price {
        margin: 0;
        font-size: 2.25rem;
    }
}

.documents__actions {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .documents__actions {
        flex-direction: row;
    }
}

.documents__cancel {
    margin: 0 0 10px 0;
    display: block;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 2.571;
    color: var(--color-09);
    border: none;
    background: none;
    outline: none;
}

@media (any-hover: hover) {
    .documents__cancel:hover {
        color: var(--color-10);
    }
}

@media (min-width: 768px) {
    .documents__cancel {
        flex: 0 0 auto;
        margin: 0 15px 0 0;
    }
}

.documents__button {
    --button-fs: 20px;
}

@media (min-width: 500px) {
    .documents__button {
        max-width: 18.75rem;
    }
}

@media (min-width: 768px) {
    .documents__button {
        max-width: none;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.documents__ac-button {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 0.75rem;
    line-height: 1.25;
    color: var(--color-17);
}

@media (any-hover: hover) {
    .documents__ac-button:hover .documents__icon {
        box-shadow: 0px 0px 0px 0px var(--color-01);
    }
}

.documents__ac-button.active .documents__icon svg {
    transform: scale(1, -1);
}

@media (min-width: 576px) {
    .documents__ac-button {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .documents__ac-button {
        font-size: 1rem;
    }
}

.documents__icon {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-01);
    background: var(--color-06);
    box-shadow: 2px 2px 0px 0px var(--color-01);
    transition: box-shadow 0.2s linear;
}

.documents__icon svg {
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
    display: block;
    fill: transparent;
    stroke: var(--color-01);
    stroke-width: 2;
    transition: transform 0.2s linear;
}

.documents__body.active .documents__group {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.documents__group {
    padding: 15px 0;
    display: flex;
    border-top: 1px solid var(--color-17);
    transform: translate3d(0, 10px, 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.5s;
}

@media (max-width: 768px) {
    .documents__group {
        flex-direction: column;
    }
}

.documents__logo {
    max-width: 80px;
    height: 40px;
}

.documents__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (min-width: 768px) {
    .documents__logo {
        max-width: 160px;
        height: 60px;
    }
}

@media (min-width: 992px) {
    .documents__logo {
        min-width: 80px;
        flex: 0 1 160px;
    }
}

.documents__info {
    margin: 0 0 10px 0;
}

.documents__info .documents__label {
    text-align: left;
    color: var(--color-01);
}

@media (min-width: 768px) {
    .documents__info {
        flex: 0 1 850px;
        padding: 0 25px;
        margin: 0 auto 0 0;
    }
}

.documents__description {
    padding: 10px 0 0 0;
    display: block;
    font-size: 0.75rem;
    line-height: 1.25;
    color: var(--color-03);
}

@media (min-width: 576px) {
    .documents__description {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .documents__description {
        font-size: 1rem;
    }
}

.feedback {
    --gap: 10px;
}

.feedback.active .feedback__wrapper {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media (min-width: 576px) {
    .feedback {
        --gap: 15px;
    }
}

@media (min-width: 768px) {
    .feedback {
        --gap: 25px;
    }

    .feedback .inputs {
        --input-height: 56px;
    }
}

.feedback__wrapper {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.35s;
}

.feedback__items {
    margin: 0 0 35px 0;
    display: grid;
    gap: var(--gap);
}

.feedback__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap);
}

.feedback__textarea .textarea__target {
    height: 11.111em;
}

@media (min-width: 500px) {
    .feedback__submit {
        max-width: 20.625rem;
    }
}

.profile-offers {
    --offers-negetiv-mi: calc(var(--container-pi) - var(--container-pi) * 2);
    --_profile-negetiv-mb: calc(
    var(--profile-pb, 0px) - var(--profile-pb, 0px) * 2
  );
    height: 100%;
}

.profile-offers.active .profile-offers__wrapper {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.profile-offers__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, top, transform;
    transition-duration: 0.35s;
}

.profile-offers__body {
    flex: 1 1 auto;
    padding: 35px var(--container-pi) 50px;
    margin: 0 var(--offers-negetiv-mi) var(--_profile-negetiv-mb);
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-01);
    background: var(--color-07);
}

@media (min-width: 992px) {
    .profile-offers__body {
        padding: 35px;
        margin: 0;
        border: 1px solid var(--color-01);
    }
}

.profile-offers__items {
    margin: 0 0 30px 0;
    display: grid;
    grid-template-columns: minmax(280px, 400px);
    justify-content: center;
    gap: 15px;
}

@media (min-width: 576px) {
    .profile-offers__items {
        grid-template-columns: repeat(2, 1fr);
        justify-content: normal;
    }
}

@media (min-width: 768px) {
    .profile-offers__items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .profile-offers__items {
        margin: 0 0 25px 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

@media (min-width: 1400px) {
    .profile-offers__items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 500px) {
    .profile-offers__more {
        max-width: 20.625rem;
        margin: auto auto 0;
    }
}